{% extends "template.html" %} {% block content %}
<div class="block">
	<h2>Answer Security Questions</h2>
	<div class="login row">
		<div class="login-item">
			{% if error %}
			<div class="item notification is-danger">{{ error }}</div>
			{% endif %}

			<form method="POST" action="/questions">
				<div class="item">
					What's the birthday of your dog?
				</div>
				<div class="item">
					<input class="input" type="text" name="question0" placeholder="Date" autofocus="">
				</div>
				<br>
				<div class="item">
					What city did you live in on the 21st of March, 2017?
				</div>
				<div class="item">
					<input class="input" type="password" name="question1"
						placeholder="City">
				</div>

				<br>
				<div class="item">
					<input class="button" type="submit" name="submit" value="Continue" />
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}